.chat-container {
  border: 1px solid black;
  width: 400px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 4px;
  text-align: left;
}

.metadata {
  font-size: 12px;
  color: grey;
}

.chat-messages {
  height: 90%;
  overflow: auto;
}

.send-message-button {
  height: 10%;
  background-color: grey;
  align-self: flex-end;
  width: 100%;
}
